@import url(default.css);
@import url(font.css);
@import url(common.css);

.container h2 {
    font-size: 34px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
}
.container h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
}

.container p {
    margin: 24px 0 40px 0;
}

.data {
    margin: 140px 0 0 0;
}
.data .inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.data .photo {
    overflow: hidden;
    border-radius: 20px;
}
.data .photo.case1 { /* 감싸고 있는 photo 영역과 같아짐 이미지 다운받은거 그대로 넣을때 */
    font-size: 0;
    line-height: 0;
}
.data .photo.case2 {
    height: 419px; /* 영역에 이미지가 들어갈 넓이가 높이가 잡혀야함 
    block 요소라서 넓이는 주지않아도 잡힘 */
}
.data .photo.case2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esg {
    margin: 140px 0;
}
.esg .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.esg .list ul li {
    width: 618px;
}
.esg .list ul li a {
    display: block;
    height: 255px;
    padding: 40px 40px 0 40px;
    border-radius: 20px;
    color: #fff;
}
.esg .list ul li.bg_1 a {
    background-color: #005A06;
}
.esg .list ul li.bg_2 a {
    background-color: #1E52C2;
}
.esg .list ul li.bg_3 a {
    background-color: #0A1E1C;
}
.esg .list ul li.bg_4 a {
    background-color: #5A0E00;

}
.esg .list ul li a p {
    margin: 10px 0 40px 0;
}

.esg .list ul li a span {
    position: relative;
    display: inline-block;
    padding-right: 24px;
}
.esg .list ul li a span::after {
    position: absolute;
    content: "";
    top: 1.5px;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6.84631L15.6537 12.5001L10 18.1538L8.94625 17.1001L13.5462 12.5001L8.94625 7.90006L10 6.84631Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width:640px){
    .container h2 {
        font-size: 24px;
        font-weight: 700;
        color: #1d1d1d;
        line-height: 1.3;
    }
    .container h3 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        line-height: 1.3;
    }
    .container p {
        margin: 16px 0 32px 0;
    }
    
    .data {
        margin: 120px 0 0 0;
    }
    .data .inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .data .photo {
        border-radius: 10px;
    }
    .data .photo.case1 { /* 감싸고 있는 photo 영역과 같아짐 이미지 다운받은거 그대로 넣을때 하단 영역도 삭제됨 */
        font-size: 0;
        line-height: 0;
    }
    .data .photo.case2 {
        height: 295px; /* 영역에 이미지가 들어갈 넓이가 높이가 잡혀야함 block 요소라서 넓이는 주지않아도 잡힘 */
    }
    .data .photo.case1 img {
        width: 100%; /* 넓이만 정해주면 높이 알아서 비율에 맞게 들어감 안에 피그마 비율에 맞춰서 줄어들기 생각 */
    }
    .data .photo.case2 img { /* 높이는 유지하면서 디자인하고 싶을때 대신 crop 됨 */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .work p br {
        display: none;
    } 
}

@media screen and (max-width:640px){
    .esg {
        margin: 100px 0 100px 0;
    }
    .esg .list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }
    .esg .list ul li {
        width: calc(50% - 8px); /* 100%/한줄에 들어갈갯수 - gap/한줄에들어가는갯수 */
    }
    .esg .list ul li a {
        display: block;
        height: 100%; /* 반응형 높이 auto hug fill 100% 생각 */
        padding: 20px;
        border-radius: 10px;
        color: #fff;
    }
    .esg .list ul li a span {
        position: relative;
        display: inline-block;
        padding-right: 20px;
    }
    .esg .list ul li a span::after {
        position: absolute;
        content: "";
        top: 1.3;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6.84631L15.6537 12.5001L10 18.1538L8.94625 17.1001L13.5462 12.5001L8.94625 7.90006L10 6.84631Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width:480px){
    .esg .list ul li {
        width: auto;
    }
}