@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Noto Sans KR", serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.spec {
    /* 경로에 ../는 폴더밖에 나가라는명령
    주의사항 ./와 /도 실제 존재하고 문법 의미갇 ㅏ름
    그래서 절대로 ../로 오타내면 이상한 결과를 초래함 */
    background: url(../images/spec_bg.png) no-repeat center center /cover ;
    height: 720px;
    color: #ffffff;
    text-align: center;
}
.spec h1 {
    font-size: 40px;
    padding: 189px 0 0 0;
    font-weight: 700;
}