@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 폰트를 선언한한 css파일을 불러서 사용하는 방식 - cdn방식
해당 css파일에서 서체의 이름을 이미 정의해서 놨기 때문에
반드시 쓰라고 하는 방식으로 서체의 이름을 써야함 */

body {
    /* 글자스타일은 상속을 받음 - 
    p에 들어가는 기본 스타일 body에 선언하고 상속받게함 */
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3d3d3d;
    line-height: 1.5; /* 배수 - 글자 크기에 1.5배 */
}
* {
    margin: 0;
    padding: 0;
} 
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.fab {
    background-color: #1a1a1a;
    /* 배경색 또는 이미지가 진한게 들어가서
    글자색상이 변하면 동시에 선언하는게 좋음 */
    color: #ffffff;
    height: 380px;
}
.fab h1 {
    padding: 109px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.fab h1 strong {
    font-weight: 700;
    /* strong태그는 브라우저가 bold를 줌 그래서 h1에게 두께를 상속받아도
    브라우저가 준값으로 변경됨 그래서 꼭 두께를 다시 선언해야함 */
    color: #1aabff;
}
.fab .sub_tit {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #1aabff;
}
.fab p {
    font-size: 18px;
    font-weight: 400;
}
.ai h1 {
    color: #1d1d1d;
    line-height: 1.3;
    margin: 223px 0 20px 0;
}
.ai h1 strong {
    color: #005aff;
}
.ai p {
    color: #3d3d3d;
    line-height: 1.5;
    font-weight: 400;

}