@import url(default.css);
@import url(font.css);
@import url(common.css);

/* positon 문구가 들어있으면 순서가생김 레이어 생각하기 */

body {
    position: relative;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* 레이어 순번 */
    width: 100%; /* 앱솔은 가로 세로 값을 가지고 있지않음 이게 figma 에서 fill임 */
    height: 90px;
    background-color: rgba(0, 0, 0, 0.15);
}
header .logo {
    margin: 23.8px 0;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .gnb .list ul {
    display: flex;
    justify-content: space-between;
}
header .gnb .list ul li a {
    display: block;
    padding: 31.5px 20px;
    color: #fff;
}

.visual {
    background: url(../image/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    position: relative;
    height: 100vh; /* vh는 브라우저 높이의 상대값 */
    /* pic는 wrapper 기준을 오른쪽 하단에 정렬하려고하는데 visual이 가변이라 수시로변경되어서 wrapper에 vh를 주면
    wrapper을 감싸는 visual이 가변 자연스럽게 높이를 따라옴 따라서 감싸는 자식요소에 높이를 넣어도 
    부모가 알아서 따라옴 figma hug,fill 방식을 생각하면될듯 */
}
.visual h2 {
    padding-top: calc(50vh - 131px);    
     /* 50vh - 94px 상대값,절대값 단위가 안맞음 그래서 calc 다른 단위일때 계산 단 신호기호 양옆 여백있어야함 */
    text-align: center;    
}
.visual .pick {
    position: absolute; /* wrapper 기준으로 정렬, a::before 정렬의 중심 */
    right: -68px;
    bottom: -68px;
}  
.visual .pick a {
    display: block;
    width: 137px;
    height: 137px;
    padding-top: 63px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    background-color: #0062FF;
    color: #fff;
}
.visual .pick a:hover {
    background-color: #041D82;
}
.visual .pick a::before {
    content: "";
    position: absolute; /* 현재 pick을 기준으로 */
    top: 28px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4975 23.2305C18.1482 23.2305 19.5468 22.6578 20.6935 21.5125C21.84 20.3672 22.4132 18.9693 22.4132 17.3188C22.4132 15.6682 21.8405 14.2695 20.6952 13.1228C19.5498 11.9764 18.152 11.4032 16.5015 11.4032C14.8508 11.4032 13.4522 11.9758 12.3055 13.1212C11.1591 14.2665 10.5858 15.6644 10.5858 17.3148C10.5858 18.9655 11.1585 20.3642 12.3038 21.5108C13.4492 22.6573 14.8471 23.2305 16.4975 23.2305ZM16.4928 20.5235C15.59 20.5235 14.831 20.2158 14.2158 19.6005C13.6005 18.9854 13.2928 18.2264 13.2928 17.3235C13.2928 16.4208 13.6005 15.6596 14.2158 15.0398C14.831 14.4201 15.59 14.1102 16.4928 14.1102C17.3955 14.1102 18.1567 14.4201 18.7765 15.0398C19.3963 15.6596 19.7062 16.4208 19.7062 17.3235C19.7062 18.2264 19.3963 18.9854 18.7765 19.6005C18.1567 20.2158 17.3955 20.5235 16.4928 20.5235ZM6.09518 27.9378C5.3014 27.9378 4.62518 27.6585 4.06652 27.0998C3.50785 26.5412 3.22852 25.8649 3.22852 25.0712V9.57917C3.22852 8.78539 3.50785 8.10917 4.06652 7.5505C4.62518 6.99183 5.3014 6.7125 6.09518 6.7125H10.0562L12.5715 4.0625H20.4315L22.9428 6.7125H26.9038C27.6976 6.7125 28.3738 6.99183 28.9325 7.5505C29.4912 8.10917 29.7705 8.78539 29.7705 9.57917V25.0712C29.7705 25.8649 29.4912 26.5412 28.9325 27.0998C28.3738 27.6585 27.6976 27.9378 26.9038 27.9378H6.09518ZM6.09518 25.0712H26.9038V9.57917H21.7038L19.2192 6.92917H13.8088L11.2852 9.57917H6.09518V25.0712Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cul {
    margin: 120px 0;
}
.cul .wrapper {
    position: relative; /* more 포지션 정렬 기준 */
}
.cul h3 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.cul .list {
    margin-top: 40px;
}
.cul .list ul {
    display: flex;
    justify-content: space-between;
}
.cul .list ul li {
    width: 404px;
}
.cul .list ul li a {
    display: block;
}
.cul .list ul li a .photo {
    overflow: hidden; /* 클립 컨텐츠 figma 영역 밖으로 나가는거 막는거 */
    font-size: 0;
    line-height: 0;
}
.cul .list ul li a .photo img {
    transition: 0.5s; /* 호버 하기전 원본에 넣어줘야함 꼭 애니메이션 효과 줄때 트렌스폼 주기전에 줘야함 */
}
.cul .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.cul .list ul li a h4 {
    margin: 20px 0 10px 0;  
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.cul .list ul li a span {
    display: inline-block;
    position: relative;
    padding-right: 20px; /* 글자 옆에 아이콘이 들어갈때 그 아이콘 이들어갈 위치까지 패딩으로 늘려놈 */
    margin: 10px 0;
    color: #8E8E8E;
}
.cul .list ul li a span::before {
    position: absolute;
    top: 5.5px;
    right: 0; /* 기준이 된거에 나가는거 안됨 */
    width: 16px; 
    height: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33693 14.7053L4.62793 13.9963L10.1241 8.50009L4.62793 3.00392L5.33693 2.29492L11.5421 8.50009L5.33693 14.7053Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.cul .more {
    position: absolute; /* wrapper 기준으로 정렬 */
    top: 61px;
    right: 0;
}
.cul .more a {
    display: block;
    padding: 10px 20px;
    border: 1px solid #8E8E8E;
    border-radius: 100px;
}
.cul .more a:hover {
    border-color: #0062FF;
    background-color: #0062FF;
    color: #fff
}

.tour {
    padding: 100px 0;
    background: #F5F9FF;
}
.tour .wrapper {
    position: relative;
}
.tour .title h3 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: 0;
}
.tour .list {
    margin-top: 40px;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li a {
    display: block; /* li한테 안에 자식요소 늘려도 flex 는 늘어남 피그마 hug 생각 */
    height: 320px;
    padding: 260px 0 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.tour .list ul li.bg1 a {
    background-image: url(../image/tour_bg1.jpg);
}
.tour .list ul li.bg2 a {
    background-image: url(../image/tour_bg2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../image/tour_bg3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../image/tour_bg4.jpg);
}
.tour .list ul li h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
}
.tour .list ul li p {
    display: none; /* 숨기기 */
    margin: 10px 0;
}
.tour .list ul li a span {
    display: none; /* 숨기기 */
    position: relative;
    margin: 0 26px 0 0;
}
.tour .list ul li a span::after {
    position: absolute;
    top: 5.5px;
    right: -19px;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33693 14.7053L4.62793 13.9963L10.1241 8.50009L4.62793 3.00392L5.33693 2.29492L11.5421 8.50009L5.33693 14.7053Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s; /* 애니메이션 easy in out 기능인거같음 */
}

.tour .list ul li a:hover span::after {
    transform: rotate(90deg);
}
.tour .more a {
    position: absolute;
    top: 61px;
    right: 0;
    padding: 10px 20px;
    border: 1px solid #8E8E8E;
    border-radius: 100px;
    color: #8E8E8E;
}
.tour .more a:hover {
    color: #fff;
    background-color: #0062FF;
}

/* li 호버했을때 펼친모습 미리 만들어놓은거임 제이쿼리로 설정하게 */

.tour .list ul li.on {
    width: 616px;
}
.tour .list ul li.on a {
    padding: 175px 0 0 40px;
    text-align: left;
}
.tour .list ul li.on p {
    display: block; /* display:none으로 숨긴 요소는 다른값을 주기만하면됨 display 안에서 고르셈 */
}
.tour .list ul li.on a span {
    display: inline-block;
}

.community {
    margin-top: 120px;
    height: 711px;
    background: url(../image/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .wrapper .title {
    margin-top: 200px;
}
.community .wrapper .title h5 {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
}
.community .inner {
    display: flex;
    margin-top: 200px;
}
.community .notice {
    position: relative;
    width: 535px;
    height: 311px;
    padding: 40px 40px 0 40px;
    border-radius: 20px;
    background-color: rgba(29, 30, 100, 0.3);
    backdrop-filter: blur(10px);
}
.community .notice h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
}
.community .notice .list {
    margin-top: 20px;
}
.community .notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.community .notice .list ul li a:hover {
    font-weight: 700;
}
.community .notice .list ul li a span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}
.community .more {
    position: absolute;
    top: 43px;
    right: 40px;
}
.community .more a {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
}
.community .more a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 13H6V12H11.5V6.5H12.5V12H18V13H12.5V18.5H11.5V13Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}
.community .more a:hover:before {
    transform: rotate(360deg);
}

.community .link {
    width: 274px;
    margin: 49px 0 0 24px; /* li 두개 들어간거 넓이줌 */
}
.community .link ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄로 배치*/
    gap: 10px; /* 상하 좌우 마진 여백*/

}
.community .link ul li {
    width: 132px;
}
.community .link ul li a {
    position: relative;
    display: block;
    padding: 20px 0 0 20px;
    height: 126px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgba(29, 30, 100, 0.3);
    backdrop-filter: blur(10px);
}
.community .link ul li.icon1 a::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 24px;
    bottom: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.38499 26.6667C9.1961 26.6667 9.03777 26.6028 8.90999 26.475C8.78221 26.3472 8.71833 26.1889 8.71833 26V23.4717C8.2841 23.2837 7.83366 22.8833 7.36699 22.2707C6.90033 21.6578 6.66699 20.9522 6.66699 20.154V8C6.66699 6.61667 7.41555 5.60411 8.91266 4.96233C10.4098 4.32078 12.772 4 15.9993 4C19.3435 4 21.7353 4.30833 23.1747 4.925C24.614 5.54167 25.3337 6.56667 25.3337 8V20.154C25.3337 20.9522 25.1003 21.6578 24.6337 22.2707C24.167 22.8833 23.7165 23.2837 23.2823 23.4717V26C23.2823 26.1889 23.2184 26.3472 23.0907 26.475C22.9629 26.6028 22.8046 26.6667 22.6157 26.6667H22.308C22.1191 26.6667 21.9608 26.6028 21.833 26.475C21.7052 26.3472 21.6413 26.1889 21.6413 26V24H10.3593V26C10.3593 26.1889 10.2954 26.3472 10.1677 26.475C10.0399 26.6028 9.88155 26.6667 9.69266 26.6667H9.38499ZM16.0157 7.38467H23.8927H8.13866H16.0157ZM21.3337 16H8.00033H24.0003H21.3337ZM8.00033 14.6667H24.0003V8.718H8.00033V14.6667ZM11.3397 20.8207C11.7545 20.8207 12.1051 20.6754 12.3913 20.385C12.6778 20.0946 12.821 19.742 12.821 19.3273C12.821 18.9124 12.6758 18.5619 12.3853 18.2757C12.0949 17.9892 11.7423 17.846 11.3277 17.846C10.9128 17.846 10.5622 17.9912 10.276 18.2817C9.98955 18.5721 9.84633 18.9247 9.84633 19.3393C9.84633 19.7542 9.99155 20.1048 10.282 20.391C10.5724 20.6774 10.925 20.8207 11.3397 20.8207ZM20.673 20.8207C21.0879 20.8207 21.4384 20.6754 21.7247 20.385C22.0111 20.0946 22.1543 19.742 22.1543 19.3273C22.1543 18.9124 22.0091 18.5619 21.7187 18.2757C21.4282 17.9892 21.0757 17.846 20.661 17.846C20.2461 17.846 19.8955 17.9912 19.6093 18.2817C19.3229 18.5721 19.1797 18.9247 19.1797 19.3393C19.1797 19.7542 19.3249 20.1048 19.6153 20.391C19.9058 20.6774 20.2583 20.8207 20.673 20.8207ZM8.13866 7.38467H23.8927C23.6618 6.69911 22.9493 6.18589 21.7553 5.845C20.5613 5.50389 18.6481 5.33333 16.0157 5.33333C13.3985 5.33333 11.493 5.50645 10.299 5.85267C9.10499 6.19867 8.38488 6.70933 8.13866 7.38467ZM10.667 22.6667H21.3337C22.067 22.6667 22.6948 22.4056 23.217 21.8833C23.7392 21.3611 24.0003 20.7333 24.0003 20V16H8.00033V20C8.00033 20.7333 8.26144 21.3611 8.78366 21.8833C9.30588 22.4056 9.93366 22.6667 10.667 22.6667Z' fill='white'/%3E%3C/svg%3E%0A");
}
.community .link ul li.icon2 a::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 24px;
    bottom: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1793 26.6667H18.7693V25.1487L19.5127 24.8923C21.2136 24.3659 22.6593 23.5133 23.85 22.3347C25.0407 21.156 25.8582 19.9333 26.3027 18.6667H5.69733C6.14178 19.9333 6.94956 21.156 8.12067 22.3347C9.29156 23.5133 10.73 24.3659 12.436 24.8923L13.1793 25.1487V26.6667ZM11.846 28V26.077C9.72467 25.4172 7.95933 24.2719 6.55 22.641C5.14067 21.0103 4.29067 19.2411 4 17.3333H6.66667V6.33333L28 4V5.205L13.8973 6.759V9.564H28V10.7437H13.8973V17.3333H28C27.7436 19.2411 26.8936 21.0103 25.45 22.641C24.0064 24.2719 22.224 25.4172 20.1027 26.077V28H11.846ZM10.8717 9.564H12.718V6.882L10.8717 7.07433V9.564ZM7.846 9.564H9.69233V7.205L7.846 7.41533V9.564ZM10.8717 17.3333H12.718V10.7437H10.8717V17.3333ZM7.846 17.3333H9.69233V10.7437H7.846V17.3333Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li.icon3 a::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 24px;
    bottom: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.58999 25.334V13.2623L3.47199 16.334L2.66699 15.2777L16.0003 5.33398L21.7953 9.63132V6.66732H24.308V11.5187L29.3593 15.2777L28.5543 16.334L24.4363 13.2623V25.334H17.6413V18.3597H14.3593V25.334H7.58999ZM8.92333 24.0007H13.026V17.0263H18.9747V24.0007H23.103V12.28L16.0003 7.00832L8.92333 12.28V24.0007ZM13.59 13.3417H18.4107C18.4107 12.7161 18.1697 12.2011 17.6877 11.7967C17.2054 11.3924 16.643 11.1903 16.0003 11.1903C15.3577 11.1903 14.7952 11.3918 14.313 11.7947C13.831 12.1973 13.59 12.713 13.59 13.3417Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li.icon4 a::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 24px;
    bottom: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.23725 27C6.60258 25.604 6.86125 24.1671 7.01325 22.6893C7.16508 21.2113 7.25892 19.678 7.29475 18.0894C6.62858 17.8739 6.07958 17.4091 5.64775 16.6952C5.21592 15.9813 5 15.0958 5 14.0388V12.8738C6.83967 12.16 8.71433 11.08 10.624 9.63369C12.5337 8.18738 14.159 6.64281 15.5 5C16.841 6.64281 18.4663 8.18738 20.376 9.63369C22.2857 11.08 24.1603 12.16 26 12.8738V14.0388C26 15.0958 25.7868 15.9813 25.3605 16.6952C24.9343 17.4091 24.3881 17.8739 23.7217 18.0894C23.7466 19.6561 23.8356 21.1799 23.9888 22.6608C24.1419 24.1416 24.4055 25.588 24.7795 27H6.23725ZM6.88975 13.0532H24.1102C22.5752 12.2995 21.0942 11.3639 19.667 10.2465C18.2398 9.12907 16.8508 7.84216 15.5 6.38574C14.1765 7.82313 12.7956 9.1045 11.3573 10.2299C9.91908 11.3552 8.42992 12.2963 6.88975 13.0532ZM18.0242 17.1827C18.6684 17.1827 19.179 16.8653 19.556 16.2304C19.9332 15.5953 20.1217 14.8647 20.1217 14.0388H15.923C15.923 14.8647 16.1123 15.5953 16.4908 16.2304C16.8691 16.8653 17.3802 17.1827 18.0242 17.1827ZM12.9795 17.1827C13.632 17.1827 14.1447 16.8653 14.5177 16.2304C14.8906 15.5953 15.077 14.8647 15.077 14.0388H10.891C10.891 14.8647 11.0781 15.5953 11.4522 16.2304C11.8264 16.8653 12.3355 17.1827 12.9795 17.1827ZM7.9475 17.1827C8.5915 17.1827 9.10208 16.8653 9.47925 16.2304C9.85625 15.5953 10.0447 14.8647 10.0447 14.0388H5.84625C5.84625 14.8647 6.03542 15.5953 6.41375 16.2304C6.79225 16.8653 7.3035 17.1827 7.9475 17.1827ZM7.3385 26.0141H11.3122C11.4852 24.7466 11.6179 23.4602 11.7102 22.1549C11.8026 20.8495 11.8699 19.4441 11.9122 17.9385C11.6417 17.8067 11.3742 17.5972 11.1095 17.31C10.845 17.023 10.635 16.6804 10.4795 16.2822C10.2372 16.8323 9.914 17.2718 9.51 17.6007C9.10583 17.9296 8.6495 18.1151 8.141 18.1572C8.10517 19.5379 8.03167 20.8769 7.9205 22.1741C7.80933 23.4711 7.61533 24.7511 7.3385 26.0141ZM12.168 26.0141H18.8487C18.6684 24.7711 18.5337 23.5073 18.4445 22.2227C18.3555 20.9383 18.2911 19.5782 18.2512 18.1424C17.6461 18.1783 17.0893 18.0162 16.581 17.656C16.0727 17.2958 15.7042 16.7868 15.4757 16.129C15.2471 16.7868 14.8854 17.2958 14.3908 17.656C13.8961 18.0162 13.35 18.1783 12.7525 18.1424C12.7213 19.4776 12.6618 20.797 12.574 22.1004C12.4862 23.4038 12.3508 24.7084 12.168 26.0141ZM19.7008 26.0141H23.6782C23.3876 24.7292 23.1873 23.4342 23.0775 22.1292C22.9677 20.8241 22.9004 19.5001 22.8758 18.1572C22.3698 18.1151 21.9127 17.9304 21.5045 17.603C21.0963 17.2757 20.7803 16.8204 20.5565 16.2374C20.4052 16.6696 20.1936 17.0282 19.9217 17.3132C19.6499 17.5983 19.3732 17.8067 19.0917 17.9385C19.1202 19.2489 19.1825 20.5695 19.2785 21.9003C19.3745 23.2311 19.5153 24.6024 19.7008 26.0141ZM23.0565 17.1827C23.709 17.1827 24.2217 16.8653 24.5945 16.2304C24.9673 15.5953 25.1538 14.8647 25.1538 14.0388H20.968C20.968 14.8647 21.1551 15.5953 21.5292 16.2304C21.9034 16.8653 22.4125 17.1827 23.0565 17.1827Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li a:hover {
    background-color: #0062FF;
}

footer {
    padding: 60px 0 80px 0;
    background-color: #1D1D1D;
    color: rgba(255, 255, 255, 0.8);
}
footer .f_nav ul {
    display: flex;
    gap: 40px;
}

footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    content: "";
    top: 7.5px;
    right: -20px;
    width: 1px;
    height: 12px;
    background-color: #fff;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_nav .privacy a {
    color: #fff;
    font-weight: 700;
}
footer .f_info {
    margin: 10px 0;
    display: flex;
    gap: 40px;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.6);
}
footer .copyright .license {
    position: relative;
    display: inline-block;
    margin: 10px 0;
}
footer .copyright .license::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
