@font-face {
	font-family: 'Ptd';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Ptd';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
body {
    font-family: 'ptd', sans-serif; /* woff woff2 파일을 불러서 서체를 정의 한경우
    내가 정의한 이름으로 서체를 불러주면 되고, sans serif를 추가해서 고딕체를 정의 */
    font-size: 18px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 하나의 요소에 width/height와 padding이 동시에 들어가면
    넓이/높이가 늘어남 이걸 막는 코드
    입력한 넓이/높이 내부로 여백이 들어가도록 수정 */
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
li {
    list-style: none;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
    height: 580px;
}
.color h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 110px 0 20px 0;
}
.color .list ul {
    display: flex;
    justify-content: space-between;
    margin: 92px 0 127px 0;
}
.color .list ul li {
    width: 404px;
}
.color .list ul li h2 {
    font-weight: 700;
    font-size: 24px;
    color: #1d1d1d;
}
.color .list ul li .process {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    background-color: #0265ac;
    margin: 30px 0 0 0;
    /* 외부 여백 다른요소와의 간격을줌 */
    padding: 21px 30px;
    /* 내부 안에 여백을줌 배경색을 늘림 */
    border-radius: 10px;
}
.coper h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 20px 0;
    color: #1d1d1d;
}
    /* .color .c1 이렇게 띄어서 적으면 .color 안에 있는 c1요소를 칭함
    .color.c1이라는 클래스명을 동시에 가지고 있는 것*/
.color .list ul li .process.cl {
    background-color: #034ea2;
}
.color .list ul li .process.c2 {
    background-color: #0265ac;
}
.color .list ul li .process.c3 {
    background-color: #1428a0;
}
.coper .list ul {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}
.coper .list ul li {
    height: 303px;
}
.coper .list ul li .photo {
    border: 1px solid #666666;
    border-radius: 10px;
    overflow: hidden;
    /* 영역밖에 나오는 이미지 안보이게하기*/
    line-height: 0;
    font-size: 0;
    /* 이미지 하단에는 행간이 들어가며 이를없애기 위해서
    감싸는요소에 font-size 0 line-height 0을 해서 행간을 없애면 됨 */
}
.coper .list ul li .photo img {
    width: 100%;
    /* 감싸져있는 photo의 넓이에 100%라는 이야기
        이미지의 크기를 기준으로 100%가 아니라
        감싸는 요소의 넓이를 기준으로 100%
        이미지의 특징 : 넓이를 바꾸면 비율에 맞게
        높이가 자동 조정 */
}

.coper .list ul li .more {
    margin: 20px 0 0 0;
}
.coper .list ul li .more a {
    border: 1px solid #999999;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.pass h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 110px 0 0 0;
    color: #1d1d1d;
}
.pass .list {
    margin: 0 30px 0 0 ;
}
.pass .list ul {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-between;
}
.pass .list li {
    width: 394px;
    height: 240px;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 60px 0 0 46px;
}
.pass .list li strong {
    font-size: 18px;
    color: #7c89ed;
    font-weight: 400;
}
.pass .list li h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 20px 0;
    color: #1d1d1d;
}
body {
    margin: 0 0 500px 0;
}