@import url(default.css);
@import url(font.css);
@import url(common.css);

body {
    margin: 0 0 100vh 0;
}

.txt_ani {
    margin: 10.41em 0 48em 0;
}
.txt_ani.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_ani .row {
    position: relative;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    color: var(--color-disalbe);
}
.txt_ani .row span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
    color: var(--color-title);
    animation: txt_ani;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes txt_ani {
    0% {width: 0;}
    100% {width: 100%;}
}
.txt_ani .row:nth-child(1) span {
    animation-delay: 0.5s;
}
.txt_ani .row:nth-child(2) span {
    animation-delay: 1.5s;
}

.txt_slide {
    margin: 100vh 0 0 0;
}
.txt_slide .wrppaer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_slide .row {
    position: relative;
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    color: var(--color-disalbe);
}
.txt_slide .row span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
    color: var(--color-title);
    transition: 0.2s;
}

.photo_resize {
    margin: 9em 0;
}
.photo_resize .photo {
    font-size: 0;
    line-height: 0;
    width: 50%;
    height: 23rem;
    margin: 0 auto;
    background: url(../images/photo_resize01.jpg) no-repeat center center / cover;
}

@media screen and (max-width:1300px){
    .txt_slide .row {
        font-size: 5vw;
    }
}

.bg_fixed {
    background: url(../images/bg_fix01.jpg) no-repeat center center /cover;
    background-attachment: fixed; /* 이미지 원본 높이가 높아야함 */
    height: 36.52rem;
    color: #fff;
}
.bg_fixed h2 {
    font-size: 4vw;
    font-weight: 700;
    padding-top: 4vw;
}

.bg_change {
    display: flex;
    flex-direction: column;
    gap: 5.6471em;
    padding: 5.6471em 0;
    margin: 5.6471em 0;
    transition: color 0.8s;
}
.bg_change.black {
    background-color: var(--color-title);
    color: var(--color-bg);
}
.bg_change.black .video_fit .tit h2 {
    color: var(--color-bg);
}

.bg_change .video_fit {
    display: flex;
    flex-direction: column;
    gap: 2.8235em;
}
.bg_change .video_fit .tit {
    display: flex;
    flex-direction: column;
    gap: 1.4118em;
}
.bg_change .video_fit .tit h2 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-title);
    transition: color 0.8s;
}

.bg_change .video_fit .movie_h {
    position: relative;
    max-width: 1260px;
    width: 100%;
    height: 200vh;
    margin: 0 auto;
}
.bg_change .video_fit .movie_h .movie {
    width: 100%;
    height: 100vh;
    left: 0;
}
.bg_change .video_fit .movie_h[data-status="before"] .movie {
    position: absolute;
    top: 0;
}
.bg_change .video_fit .movie_h[data-status="fixed"] .movie {
    position: fixed;
    top: 0;
}
.bg_change .video_fit .movie_h[data-status="after"] .movie {
    position: absolute;
    bottom: 0;
}
.bg_change .video_fit .movie_h .movie .movie_inner {
    overflow: hidden;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    transition: 0.2s;
}
.bg_change .video_fit .movie_h .movie .movie_inner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll_event .wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.scroll_event h2 {
    position: absolute;
    top: 16vw;
    left: 0;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.2;
    transition: 0.1s;    
}
.scroll_event .photo {
    font-size: 0;
    line-height: 0;
    width: 57.14%;
    height: 20.8235rem;
    background: url(../images/scroll_event01.jpg) no-repeat center center / cover;
    border-radius: 1.1765rem;
}

@media screen and (max-width:640px){
    .scroll_event h2 {
        top: -3vw;
    }
    .scroll_event .photo {
        width: 100%;
    }
}

.book .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.book .list .popup .poop_item {
    margin-right: 1.4em;
}
.book .list .popup .poop_item a {
    display: flex;
    flex-direction: column;
}
.book .list .popup .poop_item a h2 {
    margin-top: 0.9rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-title);
}
.book .list .popup .poop_item a span {
    display: none;
    color: #8E8E8E;
}
.book .list .popup .poop_item a .photo {
    height: 13.3529rem;
    border-radius: 1.1rem;
    overflow: hidden;
}
.book .list .popup .poop_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1300px){
    .book .list {
        left: 20px;
        width: calc(100% - 20px);
    }
}

.best .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.best .list .swiper ul li {
    display: flex;
    flex-direction: column;
    width: 11.1176rem;
}
.best .list .swiper ul li a h2 {
    margin-top: 0.9rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-title);
}
.best .list .swiper ul li a span {
    display: none;
    color: #8E8E8E;
}
.best .list .swiper ul li a .photo {
    height: 13.3529rem;
    border-radius: 1.1rem;
    overflow: hidden;
}
.best .list .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}