@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", serif;
    /* body에는 기본 글자 스타일을 입력 - p의 스타일 */
    font-size: 18px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.5;   
}
.wrapper {
    /* 홈페이지 넓이를 지정하고 브라우저 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
h1, h2, p, div, body {
    /* 브라우저가 주는 태그의 기본 여백 삭제 */
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 119px 0 20px 0; /* 시계방향으로 마진값이 결정됨 위 오른쪽 아래 왼 */
}
h2 {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 100px 0 0 0;
}