@import url(default.css); /* 그 안에 문서 불러와라 적용해 */
@import url(font.css);
@import url(common.css);

.icon h2 {
    margin: 203px 0 20px 0;
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.icon h3 {
    margin: 20px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
} /* 위에 요소의 하단여백(margin)이 50px이고
하단 요소의 상단여백(margin)이 100px이면
둘 사이의 여백은 100px
margin은 중복되면 둘중의 큰값만 적용됨 */

.svg_img .more {
    margin: 100px 0;
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 146px;
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
}
.svg_img .more a strong {
    margin-right: 16px;
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    /* block요소는 text-align:center로 정렬 불가
    그럼 inline-block 주변됨 */
    padding-top: 13px; /*이미지를 상단에서 여백줘서 아래로내보냄 */
    margin-bottom: 10px;
}
.svg_bg .more {
    margin: 50px 0;
}
.svg_bg .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    background: url(../more_icon/more_icon_b.png) no-repeat right 20px top 14.5px;
}
.svg_bg .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
    background-image: url(../more_icon/more_icon_w.png);
    /* 백 이미지 변경할때 위치그대로면 그대로 두고 url만 변경해서 지정해줘야함 */
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a i {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 11px; /* 아래 글자랑 여백 모든 배경의 위치와 반복값은 같고 경로만 다르니까 */
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_img .list ul li.ico1 a i {
    background-image: url(../more_icon/link_icon1.svg);
}
.svg_img .list ul li.ico2 a i {
    background-image: url(../more_icon/link_icon2.svg);
}
.svg_img .list ul li.ico3 a i {
    background-image: url(../more_icon/link_icon3.svg);
}
.svg_img .list ul li.ico4 a i {
    background-image: url(../more_icon/link_icon4.svg);
}
.svg_img .list ul li a:hover i {
    background-color: #4882FF;
}
.svg_img .list ul li.ico1 a:hover i {
    background-image: url(../more_icon/link_icon1_w.svg);
}
.svg_img .list ul li.ico2 a:hover i {
    background-image: url(../more_icon/link_icon2_w.svg);
}
.svg_img .list ul li.ico3 a:hover i {
    background-image: url(../more_icon/link_icon3_w.svg);
}
.svg_img .list ul li.ico4 a:hover i {
    background-image: url(../more_icon/link_icon4_w.svg);
}

.svg_before .more {
    margin: 50px 0;
}
.svg_before .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    position: relative; /* relative 등 앱솔이등 포지션이 있어야함 after 정렬의 기준점 기준*/
}
.svg_before .more a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 14px;
    width: 17px; /* 배경이 들어갈 넓이와 높이가 필요 */
    height: 17px;
    background: url(../more_icon/more_icon_b.png) no-repeat center center;
}
.svg_before .more a:hover::after {
    background-image: url(../more_icon/more_icon_w.png);
}
.svg_before .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
}
.svg_before .list ul {
    display: flex;
}
.svg_before .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_before .list ul li a {
    display: block;
    text-align: center;
    position: relative;
    padding-top: 60px;
}
/* a사이즈는 현재 100px인데 a before가 70px이고 이걸 a안에 가운데 정렬을 하고 싶다.
1. 100-70 = 30/2=15 하는이유 좌우때매 2 15
2. left를 50%로 줘서 가운데에서 시작하고 넓이의 절반을 빼줌 width : calc(50%-넓이/2)
3. left를 50%를 줘서 가운데에서 시작하고 (50%) transform: translateX(-50%) 
나의 넓이의 절반을 왼쪽으로 이동 넓이를 모를때 사용하면 효과적이다 몰라도 들어감 */


.svg_before .list ul li a::before {
    content: "";
    position: absolute;
    left: 50%; /* 정렬의 기준이 되는 a의 50% */
    transform: translateX(-50%); /* before의 넓의 50% */
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
.svg_before .list ul li.ico1 a::before {
    background-image: url(../more_icon/link_icon1.svg);
}
.svg_before .list ul li.ico2 a::before {
    background-image: url(../more_icon/link_icon2.svg);
}
.svg_before .list ul li.ico3 a::before {
    background-image: url(../more_icon/link_icon3.svg);
}
.svg_before .list ul li.ico4 a::before {
    background-image: url(../more_icon/link_icon4.svg);
}
.svg_before .list ul li a:hover::before {
    background-color: #4882FF;
}
.svg_before .list ul li.ico1 a:hover::before {
    background-image: url(../more_icon/link_icon1_w.svg);
}
.svg_before .list ul li.ico2 a:hover::before {
    background-image: url(../more_icon/link_icon2_w.svg);
}
.svg_before .list ul li.ico3 a:hover::before {
    background-image: url(../more_icon/link_icon3_w.svg);
}
.svg_before .list ul li.ico4 a:hover::before {
    background-image: url(../more_icon/link_icon4_w.svg);
}
.google .more {
    margin: 50px 0;
}
.google .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    position: relative; /* i 정렬의 기준점 */
}
.google .more a i {
    font-size: 12px;
    color: #4882FF;
    position: absolute;
    right: 20px;
    top: 14px;
}
.google .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
}
.google .more a:hover i {
    color: #fff;
}

.path .more {
    margin: 50px 0;
}
.path .more a {
    display: inline-block;
    padding: 7px 48px 7px 20px;
    border: 1px solid #999;
    border-radius: 50px;
    position: relative;
}
.path .more a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 20px;
    top: 13px;
    width: 12px; /* 요소넣을 높이 넓이 정해줘야 들어감 */
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_153)'%3E%3Cpath d='M5.5 7H0V6H5.5V0.5H6.5V6H12V7H6.5V12.5H5.5V7Z' fill='%23555555'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_153'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat; /* 이렇게 svg줄때 그냥 둘다 필수로 넣어야함 */
    background-position: center center;
}
.path .more a:hover {
    border-color: #4882FF; /* 컬러만바꿀경우 보더컬러로만*/
    background-color: #4882FF;
    color: #fff;
}
.path .more a:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_153)'%3E%3Cpath d='M5.5 7H0V6H5.5V0.5H6.5V6H12V7H6.5V12.5H5.5V7Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_153'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.path .list ul {
    display: flex;
}
.path .list ul li {
    width: 83px;
    margin-right: 20px;
}
.path .list ul li a {
    display: block; /* 글자의 서체/색상/크기/정렬 - a 태그에 주는 것이 좋음 */
    text-align: center;
    position: relative;
    padding-top: 60px;
}
.path .list ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* 정렬의 기준점인 a의 절반에서 동그라미를 그리시작  결론은 가운데 정렬 */
    transform: translateX(-50%); /* before의 넓이 50%를 왼쪽으로 이동 */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f4f4;
}
.path .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    top: 12px;
    right: 50%;
    transform: translateX(50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* 내가 지정한 width/height에 아이콘이 깔리지 않고 딱 맞게 리사이즈되는 명령*/
}
.path .list ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 20.1537V7.15375H7.5V3.15375H16.5V11.1537H20.5V20.1537H13.5V16.1537H10.5V20.1537H3.5ZM4.5 19.1537H7.5V16.1537H4.5V19.1537ZM4.5 15.1537H7.5V12.1537H4.5V15.1537ZM4.5 11.1537H7.5V8.15375H4.5V11.1537ZM8.5 15.1537H11.5V12.1537H8.5V15.1537ZM8.5 11.1537H11.5V8.15375H8.5V11.1537ZM8.5 7.15375H11.5V4.15375H8.5V7.15375ZM12.5 15.1537H15.5V12.1537H12.5V15.1537ZM12.5 11.1537H15.5V8.15375H12.5V11.1537ZM12.5 7.15375H15.5V4.15375H12.5V7.15375ZM16.5 19.1537H19.5V16.1537H16.5V19.1537ZM16.5 15.1537H19.5V12.1537H16.5V15.1537Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59625 18.6155V16.9693C2.59625 16.5051 2.71642 16.106 2.95675 15.772C3.19709 15.4382 3.52009 15.1713 3.92575 14.9715C4.79325 14.5585 5.6545 14.2293 6.5095 13.9838C7.36467 13.7383 8.39359 13.6155 9.59625 13.6155C10.7988 13.6155 11.8276 13.7383 12.6828 13.9838C13.5379 14.2293 14.3992 14.5585 15.2665 14.9715C15.6722 15.1713 15.9952 15.4382 16.2355 15.772C16.476 16.106 16.5963 16.5051 16.5963 16.9693V18.6155H2.59625ZM18.5963 18.6155V16.923C18.5963 16.3435 18.4789 15.7965 18.2443 15.282C18.0098 14.7675 17.6771 14.3261 17.2463 13.9578C17.7373 14.0578 18.2103 14.1965 18.6655 14.374C19.1205 14.5517 19.5705 14.7513 20.0155 14.973C20.4488 15.191 20.7886 15.4699 21.0348 15.8098C21.2808 16.1498 21.4038 16.5208 21.4038 16.923V18.6155H18.5963ZM9.59625 11.3845C8.77125 11.3845 8.065 11.0908 7.4775 10.5033C6.89 9.91576 6.59625 9.20951 6.59625 8.38451C6.59625 7.55951 6.89 6.85326 7.4775 6.26576C8.065 5.67826 8.77125 5.38451 9.59625 5.38451C10.4213 5.38451 11.1275 5.67826 11.715 6.26576C12.3025 6.85326 12.5963 7.55951 12.5963 8.38451C12.5963 9.20951 12.3025 9.91576 11.715 10.5033C11.1275 11.0908 10.4213 11.3845 9.59625 11.3845ZM16.8655 8.38451C16.8655 9.20951 16.5718 9.91576 15.9843 10.5033C15.3968 11.0908 14.6905 11.3845 13.8655 11.3845C13.8232 11.3845 13.7693 11.3798 13.7038 11.3703C13.6384 11.3606 13.5846 11.35 13.5423 11.3385C13.8811 10.9235 14.1414 10.4632 14.3233 9.95751C14.5053 9.45184 14.5963 8.92676 14.5963 8.38226C14.5963 7.83776 14.501 7.31742 14.3105 6.82126C14.1202 6.32509 13.8641 5.86159 13.5423 5.43076C13.5961 5.41159 13.6499 5.39909 13.7038 5.39326C13.7576 5.38742 13.8115 5.38451 13.8655 5.38451C14.6905 5.38451 15.3968 5.67826 15.9843 6.26576C16.5718 6.85326 16.8655 7.55951 16.8655 8.38451ZM3.59625 17.6155H15.5963V16.9693C15.5963 16.7346 15.5376 16.5294 15.4203 16.3538C15.3029 16.1783 15.0923 16.0103 14.7885 15.85C14.0423 15.4513 13.2558 15.1459 12.4288 14.9338C11.6019 14.7216 10.6578 14.6155 9.59625 14.6155C8.53459 14.6155 7.59034 14.7216 6.7635 14.9338C5.9365 15.1459 5.14992 15.4513 4.40375 15.85C4.09992 16.0103 3.88934 16.1783 3.772 16.3538C3.65484 16.5294 3.59625 16.7346 3.59625 16.9693V17.6155ZM9.59625 10.3845C10.1463 10.3845 10.6171 10.1887 11.0088 9.79701C11.4004 9.40534 11.5963 8.93451 11.5963 8.38451C11.5963 7.83451 11.4004 7.36367 11.0088 6.97201C10.6171 6.58034 10.1463 6.38451 9.59625 6.38451C9.04625 6.38451 8.57542 6.58034 8.18375 6.97201C7.79209 7.36367 7.59625 7.83451 7.59625 8.38451C7.59625 8.93451 7.79209 9.40534 8.18375 9.79701C8.57542 10.1887 9.04625 10.3845 9.59625 10.3845Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.6155 20C5.168 20 4.78683 19.8427 4.472 19.528C4.15733 19.2132 4 18.832 4 18.3845V5.6155C4 5.168 4.15733 4.78683 4.472 4.472C4.78683 4.15733 5.168 4 5.6155 4H10.3155C10.2243 3.48967 10.3464 3.02875 10.6817 2.61725C11.0169 2.20575 11.4563 2 12 2C12.5563 2 13.0022 2.20575 13.3375 2.61725C13.6728 3.02875 13.7885 3.48967 13.6845 4H18.3845C18.832 4 19.2132 4.15733 19.528 4.472C19.8427 4.78683 20 5.168 20 5.6155V18.3845C20 18.832 19.8427 19.2132 19.528 19.528C19.2132 19.8427 18.832 20 18.3845 20H5.6155ZM5.6155 19H18.3845C18.5385 19 18.6796 18.9359 18.8077 18.8078C18.9359 18.6796 19 18.5385 19 18.3845V5.6155C19 5.4615 18.9359 5.32042 18.8077 5.19225C18.6796 5.06408 18.5385 5 18.3845 5H5.6155C5.4615 5 5.32042 5.06408 5.19225 5.19225C5.06408 5.32042 5 5.4615 5 5.6155V18.3845C5 18.5385 5.06408 18.6796 5.19225 18.8078C5.32042 18.9359 5.4615 19 5.6155 19ZM7.5 16.2693H13.5V15.2693H7.5V16.2693ZM7.5 12.5H16.5V11.5H7.5V12.5ZM7.5 8.73075H16.5V7.73075H7.5V8.73075ZM12 4.44225C12.2167 4.44225 12.3958 4.37142 12.5375 4.22975C12.6792 4.08808 12.75 3.90892 12.75 3.69225C12.75 3.47558 12.6792 3.29642 12.5375 3.15475C12.3958 3.01308 12.2167 2.94225 12 2.94225C11.7833 2.94225 11.6042 3.01308 11.4625 3.15475C11.3208 3.29642 11.25 3.47558 11.25 3.69225C11.25 3.90892 11.3208 4.08808 11.4625 4.22975C11.6042 4.37142 11.7833 4.44225 12 4.44225Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7692 20V19H18.3845C18.5512 19 18.6954 18.9487 18.8173 18.8462C18.9391 18.7436 19 18.6089 19 18.4423V11.5538C19 9.68075 18.3112 8.11633 16.9337 6.8605C15.5561 5.60483 13.9115 4.977 12 4.977C10.0885 4.977 8.44392 5.60483 7.06625 6.8605C5.68875 8.11633 5 9.68075 5 11.5538V17.2308H4.5C4.091 17.2308 3.73875 17.0926 3.44325 16.8163C3.14775 16.5401 3 16.1975 3 15.7885V13.9038C3 13.6051 3.09708 13.3401 3.29125 13.1088C3.48558 12.8773 3.72183 12.6891 4 12.5442L4.01725 11.3155C4.04808 10.2718 4.28433 9.30517 4.726 8.4155C5.16767 7.52567 5.74908 6.75125 6.47025 6.09225C7.19142 5.43325 8.02925 4.91983 8.98375 4.552C9.93825 4.184 10.9437 4 12 4C13.0563 4 14.0608 4.184 15.0135 4.552C15.966 4.91983 16.8038 5.43233 17.527 6.0895C18.25 6.7465 18.8314 7.51983 19.2712 8.4095C19.7109 9.29933 19.9481 10.266 19.9827 11.3095L20 12.5135C20.2653 12.6378 20.4983 12.8052 20.699 13.0155C20.8997 13.2257 21 13.4782 21 13.773V15.9385C21 16.2333 20.8997 16.4859 20.699 16.6962C20.4983 16.9064 20.2653 17.0737 20 17.198V18.4423C20 18.8769 19.8427 19.2452 19.528 19.547C19.2132 19.849 18.832 20 18.3845 20H11.7692ZM9.3845 13.5385C9.17817 13.5385 8.99842 13.4683 8.84525 13.328C8.69208 13.1875 8.6155 13.0141 8.6155 12.8077C8.6155 12.6012 8.69208 12.4247 8.84525 12.278C8.99842 12.1312 9.17817 12.0577 9.3845 12.0577C9.591 12.0577 9.77083 12.1312 9.924 12.278C10.0772 12.4247 10.1537 12.6012 10.1537 12.8077C10.1537 13.0141 10.0772 13.1875 9.924 13.328C9.77083 13.4683 9.591 13.5385 9.3845 13.5385ZM14.6155 13.5385C14.409 13.5385 14.2292 13.4683 14.076 13.328C13.9228 13.1875 13.8462 13.0141 13.8462 12.8077C13.8462 12.6012 13.9228 12.4247 14.076 12.278C14.2292 12.1312 14.409 12.0577 14.6155 12.0577C14.8218 12.0577 15.0016 12.1312 15.1547 12.278C15.3079 12.4247 15.3845 12.6012 15.3845 12.8077C15.3845 13.0141 15.3079 13.1875 15.1547 13.328C15.0016 13.4683 14.8218 13.5385 14.6155 13.5385ZM6.71725 11.95C6.62625 10.4525 7.10833 9.17625 8.1635 8.12125C9.21867 7.06608 10.5142 6.5385 12.05 6.5385C13.341 6.5385 14.4849 6.926 15.4818 7.701C16.4786 8.476 17.0872 9.49425 17.3077 10.7557C15.9834 10.7391 14.7543 10.4013 13.6202 9.74225C12.4862 9.08325 11.616 8.16658 11.0095 6.99225C10.7685 8.14608 10.2669 9.15733 9.50475 10.026C8.74258 10.8945 7.81342 11.5358 6.71725 11.95Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li a:hover:before {
    background-color: #4882FF;
}
/* %23쪽 뒷부분 컬러변경하면 바뀜*/
.path .list ul li.ico1 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 20.1537V7.15375H7.5V3.15375H16.5V11.1537H20.5V20.1537H13.5V16.1537H10.5V20.1537H3.5ZM4.5 19.1537H7.5V16.1537H4.5V19.1537ZM4.5 15.1537H7.5V12.1537H4.5V15.1537ZM4.5 11.1537H7.5V8.15375H4.5V11.1537ZM8.5 15.1537H11.5V12.1537H8.5V15.1537ZM8.5 11.1537H11.5V8.15375H8.5V11.1537ZM8.5 7.15375H11.5V4.15375H8.5V7.15375ZM12.5 15.1537H15.5V12.1537H12.5V15.1537ZM12.5 11.1537H15.5V8.15375H12.5V11.1537ZM12.5 7.15375H15.5V4.15375H12.5V7.15375ZM16.5 19.1537H19.5V16.1537H16.5V19.1537ZM16.5 15.1537H19.5V12.1537H16.5V15.1537Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59625 18.6155V16.9693C2.59625 16.5051 2.71642 16.106 2.95675 15.772C3.19709 15.4382 3.52009 15.1713 3.92575 14.9715C4.79325 14.5585 5.6545 14.2293 6.5095 13.9838C7.36467 13.7383 8.39359 13.6155 9.59625 13.6155C10.7988 13.6155 11.8276 13.7383 12.6828 13.9838C13.5379 14.2293 14.3992 14.5585 15.2665 14.9715C15.6722 15.1713 15.9952 15.4382 16.2355 15.772C16.476 16.106 16.5963 16.5051 16.5963 16.9693V18.6155H2.59625ZM18.5963 18.6155V16.923C18.5963 16.3435 18.4789 15.7965 18.2443 15.282C18.0098 14.7675 17.6771 14.3261 17.2463 13.9578C17.7373 14.0578 18.2103 14.1965 18.6655 14.374C19.1205 14.5517 19.5705 14.7513 20.0155 14.973C20.4488 15.191 20.7886 15.4699 21.0348 15.8098C21.2808 16.1498 21.4038 16.5208 21.4038 16.923V18.6155H18.5963ZM9.59625 11.3845C8.77125 11.3845 8.065 11.0908 7.4775 10.5033C6.89 9.91576 6.59625 9.20951 6.59625 8.38451C6.59625 7.55951 6.89 6.85326 7.4775 6.26576C8.065 5.67826 8.77125 5.38451 9.59625 5.38451C10.4213 5.38451 11.1275 5.67826 11.715 6.26576C12.3025 6.85326 12.5963 7.55951 12.5963 8.38451C12.5963 9.20951 12.3025 9.91576 11.715 10.5033C11.1275 11.0908 10.4213 11.3845 9.59625 11.3845ZM16.8655 8.38451C16.8655 9.20951 16.5718 9.91576 15.9843 10.5033C15.3968 11.0908 14.6905 11.3845 13.8655 11.3845C13.8232 11.3845 13.7693 11.3798 13.7038 11.3703C13.6384 11.3606 13.5846 11.35 13.5423 11.3385C13.8811 10.9235 14.1414 10.4632 14.3233 9.95751C14.5053 9.45184 14.5963 8.92676 14.5963 8.38226C14.5963 7.83776 14.501 7.31742 14.3105 6.82126C14.1202 6.32509 13.8641 5.86159 13.5423 5.43076C13.5961 5.41159 13.6499 5.39909 13.7038 5.39326C13.7576 5.38742 13.8115 5.38451 13.8655 5.38451C14.6905 5.38451 15.3968 5.67826 15.9843 6.26576C16.5718 6.85326 16.8655 7.55951 16.8655 8.38451ZM3.59625 17.6155H15.5963V16.9693C15.5963 16.7346 15.5376 16.5294 15.4203 16.3538C15.3029 16.1783 15.0923 16.0103 14.7885 15.85C14.0423 15.4513 13.2558 15.1459 12.4288 14.9338C11.6019 14.7216 10.6578 14.6155 9.59625 14.6155C8.53459 14.6155 7.59034 14.7216 6.7635 14.9338C5.9365 15.1459 5.14992 15.4513 4.40375 15.85C4.09992 16.0103 3.88934 16.1783 3.772 16.3538C3.65484 16.5294 3.59625 16.7346 3.59625 16.9693V17.6155ZM9.59625 10.3845C10.1463 10.3845 10.6171 10.1887 11.0088 9.79701C11.4004 9.40534 11.5963 8.93451 11.5963 8.38451C11.5963 7.83451 11.4004 7.36367 11.0088 6.97201C10.6171 6.58034 10.1463 6.38451 9.59625 6.38451C9.04625 6.38451 8.57542 6.58034 8.18375 6.97201C7.79209 7.36367 7.59625 7.83451 7.59625 8.38451C7.59625 8.93451 7.79209 9.40534 8.18375 9.79701C8.57542 10.1887 9.04625 10.3845 9.59625 10.3845Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.6155 20C5.168 20 4.78683 19.8427 4.472 19.528C4.15733 19.2132 4 18.832 4 18.3845V5.6155C4 5.168 4.15733 4.78683 4.472 4.472C4.78683 4.15733 5.168 4 5.6155 4H10.3155C10.2243 3.48967 10.3464 3.02875 10.6817 2.61725C11.0169 2.20575 11.4563 2 12 2C12.5563 2 13.0022 2.20575 13.3375 2.61725C13.6728 3.02875 13.7885 3.48967 13.6845 4H18.3845C18.832 4 19.2132 4.15733 19.528 4.472C19.8427 4.78683 20 5.168 20 5.6155V18.3845C20 18.832 19.8427 19.2132 19.528 19.528C19.2132 19.8427 18.832 20 18.3845 20H5.6155ZM5.6155 19H18.3845C18.5385 19 18.6796 18.9359 18.8077 18.8078C18.9359 18.6796 19 18.5385 19 18.3845V5.6155C19 5.4615 18.9359 5.32042 18.8077 5.19225C18.6796 5.06408 18.5385 5 18.3845 5H5.6155C5.4615 5 5.32042 5.06408 5.19225 5.19225C5.06408 5.32042 5 5.4615 5 5.6155V18.3845C5 18.5385 5.06408 18.6796 5.19225 18.8078C5.32042 18.9359 5.4615 19 5.6155 19ZM7.5 16.2693H13.5V15.2693H7.5V16.2693ZM7.5 12.5H16.5V11.5H7.5V12.5ZM7.5 8.73075H16.5V7.73075H7.5V8.73075ZM12 4.44225C12.2167 4.44225 12.3958 4.37142 12.5375 4.22975C12.6792 4.08808 12.75 3.90892 12.75 3.69225C12.75 3.47558 12.6792 3.29642 12.5375 3.15475C12.3958 3.01308 12.2167 2.94225 12 2.94225C11.7833 2.94225 11.6042 3.01308 11.4625 3.15475C11.3208 3.29642 11.25 3.47558 11.25 3.69225C11.25 3.90892 11.3208 4.08808 11.4625 4.22975C11.6042 4.37142 11.7833 4.44225 12 4.44225Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7692 20V19H18.3845C18.5512 19 18.6954 18.9487 18.8173 18.8462C18.9391 18.7436 19 18.6089 19 18.4423V11.5538C19 9.68075 18.3112 8.11633 16.9337 6.8605C15.5561 5.60483 13.9115 4.977 12 4.977C10.0885 4.977 8.44392 5.60483 7.06625 6.8605C5.68875 8.11633 5 9.68075 5 11.5538V17.2308H4.5C4.091 17.2308 3.73875 17.0926 3.44325 16.8163C3.14775 16.5401 3 16.1975 3 15.7885V13.9038C3 13.6051 3.09708 13.3401 3.29125 13.1088C3.48558 12.8773 3.72183 12.6891 4 12.5442L4.01725 11.3155C4.04808 10.2718 4.28433 9.30517 4.726 8.4155C5.16767 7.52567 5.74908 6.75125 6.47025 6.09225C7.19142 5.43325 8.02925 4.91983 8.98375 4.552C9.93825 4.184 10.9437 4 12 4C13.0563 4 14.0608 4.184 15.0135 4.552C15.966 4.91983 16.8038 5.43233 17.527 6.0895C18.25 6.7465 18.8314 7.51983 19.2712 8.4095C19.7109 9.29933 19.9481 10.266 19.9827 11.3095L20 12.5135C20.2653 12.6378 20.4983 12.8052 20.699 13.0155C20.8997 13.2257 21 13.4782 21 13.773V15.9385C21 16.2333 20.8997 16.4859 20.699 16.6962C20.4983 16.9064 20.2653 17.0737 20 17.198V18.4423C20 18.8769 19.8427 19.2452 19.528 19.547C19.2132 19.849 18.832 20 18.3845 20H11.7692ZM9.3845 13.5385C9.17817 13.5385 8.99842 13.4683 8.84525 13.328C8.69208 13.1875 8.6155 13.0141 8.6155 12.8077C8.6155 12.6012 8.69208 12.4247 8.84525 12.278C8.99842 12.1312 9.17817 12.0577 9.3845 12.0577C9.591 12.0577 9.77083 12.1312 9.924 12.278C10.0772 12.4247 10.1537 12.6012 10.1537 12.8077C10.1537 13.0141 10.0772 13.1875 9.924 13.328C9.77083 13.4683 9.591 13.5385 9.3845 13.5385ZM14.6155 13.5385C14.409 13.5385 14.2292 13.4683 14.076 13.328C13.9228 13.1875 13.8462 13.0141 13.8462 12.8077C13.8462 12.6012 13.9228 12.4247 14.076 12.278C14.2292 12.1312 14.409 12.0577 14.6155 12.0577C14.8218 12.0577 15.0016 12.1312 15.1547 12.278C15.3079 12.4247 15.3845 12.6012 15.3845 12.8077C15.3845 13.0141 15.3079 13.1875 15.1547 13.328C15.0016 13.4683 14.8218 13.5385 14.6155 13.5385ZM6.71725 11.95C6.62625 10.4525 7.10833 9.17625 8.1635 8.12125C9.21867 7.06608 10.5142 6.5385 12.05 6.5385C13.341 6.5385 14.4849 6.926 15.4818 7.701C16.4786 8.476 17.0872 9.49425 17.3077 10.7557C15.9834 10.7391 14.7543 10.4013 13.6202 9.74225C12.4862 9.08325 11.616 8.16658 11.0095 6.99225C10.7685 8.14608 10.2669 9.15733 9.50475 10.026C8.74258 10.8945 7.81342 11.5358 6.71725 11.95Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
body {
    margin-bottom: 500px;
}