/* 콘텐츠 페이지 스타일 저장 */

/* 회사소개 > ceo인사말 */

.sub_contents {
    min-height: 300px;
}
.sub_contents h1 {
    font-size: 2.5882rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding-bottom: 0.4545em;
    border-bottom: 1px solid var(--main-color);
    width: max-content; /* 텍스트 길이만큼 너비를 설정 */
    align-self: flex-start; /* 부모의 플렉스 정렬에서 제외 */
}
.sub_contents .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.8235em;
}
@media screen and (max-width:360px){
    .contents {
        padding: 4.6667em 0;
    }
    .sub_contents h1 {
        font-size: 1.6rem;
    }
}

.sub_contents.cnt_ceo .ceo_title {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2.9412rem 2.9412rem 0 0;
    height: 11.7647rem;
    padding: 0 12.5882em;
    background: linear-gradient(.25turn, #717171, 80%, #EF0010);
    color: #fff;
}
.sub_contents.cnt_ceo .ceo_title h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
}
.sub_contents.cnt_ceo .ceo_title h2::after {
    position: absolute;
    content: "";
    top: -0.3333rem;
    left: -0.8333rem;
    width: 1.4118rem;
    height: 1.4118rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0L24 4.89796L7.83673 6.85714L5.14286 24L0 0Z' fill='%23EF0010'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.sub_contents.cnt_ceo .ceo_title .ceo_main {
    position: absolute;
    bottom: 0;
    right: 12.7647rem;
    width: 15.6471rem;
    height: 18.1765rem;
    font-size: 0;
    line-height: 0;
    background: url(../images/sub/sub_ceo01.png) no-repeat center center / cover;
}
.sub_contents.cnt_ceo .ceo_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4118em;
    padding: 0 3.3333em;
}
.sub_contents.cnt_ceo h3 {
    font-size: 1.4118rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--second-color);
}
.sub_contents.cnt_ceo .ceo_sign {
    font-size: 0;
    line-height: 0;
    width: 10.7059rem;
    height: 4.9412rem;
    background: url(../images/sub/sub_ceo02.jpg) no-repeat center center / cover;
}
.sub_contents.cnt_ceo .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4118em;
}

@media screen and (max-width:1000px){
    .sub_contents.cnt_ceo .ceo_title {
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.4706rem 1.4706rem 0 0;
    height: 33.0667rem;
    padding: 5.3333em 2.6667em 0 2.6667em;
    background: linear-gradient(#717171, 80%, #EF0010);
    overflow: hidden;
    }
    .sub_contents h1 {

    }
    .sub_contents.cnt_ceo .ceo_title .ceo_main {
        position: relative;
        bottom: 0;
        right: 0;
        width: 15.6471rem;
        height: 18.1765rem;
        font-size: 0;
        line-height: 0;
        background: url(../images/sub/sub_ceo01.png) no-repeat center center / cover;
    }
    .sub_contents.cnt_ceo h3 {
        font-size: 1.4118rem;
        font-weight: 700;
        line-height: 1.3;
        color: var(--second-color);
    }
    .sub_contents.cnt_ceo .ceo_sign {
        font-size: 0;
        line-height: 0;
        width: 10.7059rem;
        height: 4.9412rem;
        background: url(../images/sub/sub_ceo02.jpg) no-repeat center center / cover;
    }
    }

@media screen and (max-width:370px){
    .sub_contents.cnt_ceo .ceo_title {
        height: 30.4286rem;
    }
    .sub_contents.cnt_ceo .ceo_title h2 {
        position: relative;
        font-size: 1.1765rem;
    }
    .sub_contents.cnt_ceo .ceo_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.2857em;
        padding: 0 1.4286em;
    }
    .sub_contents.cnt_ceo h3 {
        font-size: 1.2857rem;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
        color: var(--second-color);
    }
    .sub_contents.cnt_ceo .ceo_sign {
        font-size: 0;
        line-height: 0;
        width: 7rem;
        height: 3rem;
        background: url(../images/sub/sub_ceo02.jpg) no-repeat center center / cover;
    }
}

.cnt_history .history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 11.2941em;
}
.cnt_history .history::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #D8D8D8;
}
.cnt_history .history .histroy_wrap {
    display: flex;
    gap: 5.6471rem;
}
.cnt_history .history .histroy_wrap.right {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
.cnt_history .history .his {
    width: 100%;
    height: 16.4706rem;
    overflow: hidden;
    border-radius: 1.1765rem;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_history .history .his.photo01 {
    background: url(../images/sub/history_photo01.png);
}
.cnt_history .history .his.photo02 {
    position: relative;
    background: url(../images/sub/history_photo02.png);
}
.cnt_history .history .his.photo03 {
    background: url(../images/sub/history_photo03.png);
}
.cnt_history .history .his.photo04 {
    background: url(../images/sub/history_photo04.png);
}

.cnt_history .history .hist {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.8235em;
}
.cnt_history .history .hist h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--second-color);
}
.cnt_history .history .hist.left h2 {
    position: relative;
}
.cnt_history .history .hist.left h2::after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 12px;
    left: -53px;
    width: 0.5882rem;
    height: 0.5882rem;
    background-color: var(--main-color);
    border-radius: 50%;
}
/* .cnt_history .history .hist.left h2:first-child:before {
    z-index: -1;
    position: absolute;
    content: "";
    left: -49px;
    bottom: -5px;
    width: 2px;
    height: 3.5294rem;
    background-color: var(--main-color);
    border-radius: 100px;
} */

.cnt_history .history .hist.right h2 {
    position: relative;
}
.cnt_history .history .hist.right h2::after {
    z-index: 1;
    position: absolute;
    content: "";
    top: 12px;
    right: -53px;
    width: 0.5882rem;
    height: 0.5882rem;
    background-color: var(--main-color);
    border-radius: 50%;
}
.cnt_history .history .hist ul {
    display: flex;
    flex-direction: column;
    gap: 1.4118rem;
}
.cnt_history .history .hist ul li {
    display: flex;
    justify-content: space-between;
}
.cnt_history .history .hist strong {
    width: 13.74%;
    font-weight: 700;
}
.cnt_history .history .hist span {
    width: 83.50%;
}

.cnt_history .history_tap {
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.1765rem;
    padding: 0.5882em 1.1765em;
    max-width: calc(100% - 660px);
    min-width: 22rem;
    border-radius: 5.8824rem;
    border: 1px solid #C6C6C6;
    background-color: #fff;
    overflow-x: auto;
}
.cnt_history .history_tap ul {
    display: flex;
}
.cnt_history .history_tap ul li {
    flex: 1;
}
.cnt_history .history_tap ul li button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.1765em 1.1765em;
    font-weight: 700;
    white-space: nowrap;
}
.cnt_history .history_tap ul li.active button {
    border-radius: 5.8824rem;
    background-color: var(--main-color);
    color: #fff;
}

@media screen and (max-width:1000px){
    .cnt_history .history .hist.left h2::after {
        left: -47px;
    }
    .cnt_history .history .hist.left h2:first-child:before {
        left: -43px;
        bottom: -5px;
    }
    .cnt_history .history .hist.right h2::after {
        right: -46px;
    }
}

@media screen and (max-width:740px){
    .cnt_history .history::after {
        position: absolute;
        content: "";
        left: -7px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #C6C6C6;
    }
    .cnt_history .history .histroy_wrap {
        flex-direction: column;
    }
    .cnt_history .history .hist {
        padding-left: 1.4286em;
        align-items: flex-start;
    }
    .cnt_history .history .hist.left h2::after {
        top: 12px;
        left: -31px;
    }
    /* .cnt_history .history .hist.left h2:first-child:before {
        left: -28px;
        bottom: 0;
    } */
    .cnt_history .history .histroy_wrap.right {
        flex-direction: column;
    }
    .cnt_history .history .hist.right h2::after {
        top: 12px;
        left: -31px;
    }
    .cnt_history .history .hist ul li {
        gap: 1em;
    }
    .cnt_history .history .hist.right ul li {
        display: flex;
        flex-direction: row-reverse;   
    }
    .cnt_history .history .hist.right ul li span {
        text-align: left;
    }
    .cnt_history .history .hist strong {
        text-align: left;
        width: 40.74%;
    }
    .cnt_history .history .his {
        position: relative;
        overflow: visible;
    }
    .cnt_history .history .his::after {
        z-index: 4;
        position: absolute;
        content: "";
        bottom: -90px;
        left: -16px;
        width: 0.7143rem;
        height: 34.8571rem;
        background-color: #fff;
    }
}

.cnt_map .map_wrap .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(100% + 330px);
    height: 35.2941rem;
    margin: 4.2353rem 0;
}  

.cnt_map .map_wrap .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width:1300px){
    .cnt_map .map_wrap .map {
        left: 20px;
        width: calc(100% - 20px);
    }  
}

.cnt_map .map.wrapper {
    position: relative;
    display: flex;
}
.cnt_map .map_title {
    display: flex;
    gap: 1.4118em;
}
.cnt_map .map_title h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.cnt_map .map_title .icon {
    font-size: 0;
    line-height: 0;
    width: 2.8235rem;
    height: 2.8235rem;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9997 24.2321C25.131 24.2321 26.0999 23.8292 26.9062 23.0236C27.7129 22.2179 28.1162 21.2494 28.1162 20.1181C28.1162 18.9867 27.7134 18.0177 26.9077 17.2111C26.1017 16.4047 25.133 16.0016 24.0017 16.0016C22.8704 16.0016 21.9015 16.4044 21.0952 17.2101C20.2885 18.0157 19.8852 18.9844 19.8852 20.1161C19.8852 21.2474 20.288 22.2162 21.0937 23.0226C21.8997 23.8289 22.8684 24.2321 23.9997 24.2321ZM24.0007 44.6706C18.334 39.9092 14.1347 35.5504 11.4027 31.5941C8.67069 27.6374 7.30469 23.8886 7.30469 20.3476C7.30469 15.7656 8.90585 11.7874 12.1082 8.41306C15.3109 5.03873 19.275 3.35156 24.0007 3.35156C28.7264 3.35156 32.6905 5.03873 35.8932 8.41306C39.0955 11.7874 40.6967 15.7656 40.6967 20.3476C40.6967 23.8886 39.3307 27.6374 36.5987 31.5941C33.8667 35.5504 29.6674 39.9092 24.0007 44.6706Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_map .map.wrapper .inner {
    display: flex;
    gap: 3.6471em;
    padding-left: 4.1176em;
}
.cnt_map .map.wrapper h3 {
    align-self: flex-start; /* 부모가 felxt면 강제로 넓이가 들어가는데 이걸쓰면 자식 요소 속성값을 다시 지정가능 */
    font-size: 1.4118rem;
    padding-bottom: 0.5882em;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    
}

.cnt_map .map.wrapper .mapg {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.4118em;
}
.cnt_map .map.wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 1.4118em;
}
.cnt_map .map.wrapper ul li {
    display: flex;
    gap: 1.4118rem;
}
.cnt_map .map.wrapper ul li span {
    width: 13.82%;
    font-weight: 700;
    color: #1d1d1d;
}
.cnt_map .map.wrapper ul li strong {
    width: 81.91%;
}

.cnt_map .map.wrapper .button_wrap {
    position: absolute;
    display: flex;
    top: 1.5882rem;
    right: 0;
    gap: 1.4118em;
}
.cnt_map .map.wrapper .button_wrap button {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5882em;
    padding: 0.5882em 1.1765em;
    border: 1px solid #C6C6C6;
    border-radius: 5.8824rem;
    font-family: 'Pretendard';
}
.cnt_map .map.wrapper .button_wrap button.kakao::after {
    content: "";
    width: 1.4118rem;
    height: 1.4118rem;
    background: url(../images/sub/map_kakao.png) no-repeat center center / cover;
}
.cnt_map .map.wrapper .button_wrap button.naver::after {
    content: "";
    width: 1.4118rem;
    height: 1.4118rem;
    background: url(../images/sub/map_naver.png) no-repeat center center / cover;
}

@media screen and (max-width:1000px){
    .cnt_map .map_wrap .map {
        height: 17.5rem;
    }
}
@media screen and (max-width:816px){
    .cnt_map .map_wrap .map {
        height: 17.5rem;
    }
    .cnt_map .map.wrapper .button_wrap {
        position: relative;
        align-items: flex-start;
        top: 0;
    }
    .cnt_map .map.wrapper .inner {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:400px){
    .cnt_map .map.wrapper .button_wrap button {
        white-space: nowrap;
    }
}
@media screen and (max-width:360px){
    .cnt_map .map_title h2 {
        font-size: 1.4286rem;
    }
    .cnt_map .map.wrapper ul li span {
        width: 23.82%;
    }
    .cnt_map .map.wrapper .inner {
        padding-left: 0;
    }
    .cnt_map .map.wrapper .button_wrap {
        justify-content: space-between;
        overflow-x: auto;
    }
}
.cnt_ir03 .wrapper {
    padding-bottom: 8.2353em;
}
.cnt_ir03 .ir {
    display: flex;
    flex-direction: column;
    gap: 5.6471em;
}
.cnt_ir03 .ir_inner {
    display: flex;
    flex-direction: column;
    gap: 2.8235em;
}
.cnt_ir03 .ir_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5882em;
}
.cnt_ir03 .ir_title h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.cnt_ir03 .ir_inner .table_wrap {
    display: flex;
    gap: 0.5882em;
    flex-direction: column;
    overflow-x: auto;
}
.cnt_ir03 .ir_inner .table_wrap table {
    min-width: 700px;
}
.cnt_ir03 .ir_inner .table_wrap table {
    border-collapse: collapse; /* border-collapse:collapse; 테이블칸과 칸사의 여백 삭제*/
}
.cnt_ir03 .ir_inner .table_wrap table thead th {
    border-bottom: 1px solid #D8D8D8;
}
.cnt_ir03 .ir_inner .table_wrap strong {
    font-size: 0.8235rem;
    text-align: right;
    color: #8E8E8E;
}
.cnt_ir03 .ir_inner .table_wrap span {
    font-size: 0.8235rem;
    text-align: right;
    color: #8E8E8E;
}
.cnt_ir03 .ir_inner .table_wrap thead tr th:first-child {
    text-align: left;
}
.cnt_ir03 .ir_inner .table_wrap thead tr th {
    font-weight: 700;
    padding: 0.5882em 1.1765em;
    text-align: right;
}
.cnt_ir03 .ir_inner .table_wrap tbody tr th {
    padding: 0.5882em 1.1765em;
}
.cnt_ir03 .ir_inner .table_wrap tbody tr td {
    padding: 1.1765em 1.1765em;
    text-align: right;
}
.cnt_ir03 caption {
    display: none;
}
.cnt_ir03 .ir_inner:nth-child(2) .table_wrap thead tr th {
    text-align: center;
}
.cnt_ir03 .ir_inner:nth-child(2) .table_wrap tbody tr td {
    text-align: center; 
}
.cnt_ir03 .ir_inner:nth-child(2) .table_wrap tbody tr th {
    text-align: center; 
}
.cnt_ir03 .ir_inner:last-child .table_wrap thead tr th {
    text-align: center;
}
.cnt_ir03 .ir_inner:last-child .table_wrap tbody tr td {
    text-align: center; 
}
.cnt_ir03 .ir_inner:last-child .table_wrap tbody tr th {
    text-align: center; 
}

@media screen and (max-width:360px){
    .cnt_ir03 .ir_title h2 {
        font-size: 1.4286rem;   
    }
}

.cnt_pr04 .view_head {
    display: flex;
    flex-direction: column;
    gap: 0.5882em;
}
.cnt_pr04 h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1d1d1d;
}
.cnt_pr04 .date {
    color: #8E8E8E;
}
.cnt_pr04 .view_content {
    display: flex;
    flex-direction: column;
    gap: 2.8235em;
}
.cnt_pr04 .view_content .video {
    position: relative;
    overflow: hidden;
    padding: 28% 0; 
}
.cnt_pr04 .view_content .video iframe, .video object, .video embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}
.cnt_pr04 .view_foot {
    display: flex;
    justify-content: center;
}
.cnt_pr04 .view_foot a {
    border: 1px solid #C6C6C6;
    border-radius: 5.8824rem;
    padding: 0.5882em 1.1765em;
}
.cnt_pr04 .view_foot a:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
}
.cnt_pr04 ul {
    position: relative;
    display: flex;
    gap: 1.4118em;
    padding-top: 4.1176em;
}
.cnt_pr04 ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.4118em;
}
.cnt_pr04 ul li a .photo {
    width: 100%;
    height: 12.5882rem;
    border-radius: 1.1765rem;
    overflow: hidden;
}
.cnt_pr04 ul li a .photo img {
    width: 100%;
    height: 100%;
    line-height: 0;
    font-size: 0;
    object-fit: cover;
}
.cnt_pr04 ul li strong {
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    width: 390px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cnt_pr04 ul li span {
    color: #8E8E8E;
}
.cnt_pr04 button {
    position: absolute;
    top: 0;
    right: 0;
    align-self: flex-start;
    padding: 0.5882em 1.1765em;
    border: 1px solid #C6C6C6;
    border-radius: 5.8824rem;
    font-family: 'Pretendard';
}