@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
}
a {
    /* a태그는 기본값이 파란색에 언더라인이 들어가는데
    색상은 상속받고, 밑줄은 없애고*/
    color: inherit;
    text-decoration: none;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
}
.brand h1 {
    font-weight: 700;
    font-size: 40px;
    color: #1d1d1d;
    padding: 110px 0 10px 0;
}
h1, h2, h3, h4, h5, h6 {
    /* 브라우저가 세팅해주는 기본값 말고 내가 상속하는 값으로 들어가라는 말 */
    font-size: inherit;
    font-weight: inherit;
}
strong {
    /* 브라우저에 기본적으로 볼드 되는걸 초기화 */
    font-weight: inherit;
}
em {
    /* 눕방시전하는걸 기본적으로 초기화*/
    font-style: normal;
}
.brand {
    background-color: #f4f4f4;
    text-align: center;
}
.brand .photo {
    padding: 20px 0 110px 0;
}
h2 {
    font-weight: 700;
    color: #1d1d1d;
    font-size: 30px;
    margin: 128px 0 0 0;
}
.basic strong {
    color: #2c63ff;
}
h3 {
    color: #1d1d1d;
    font-size: 24px;
    font-weight: 700;
}
.basic .photo {
    margin: 20px 0 20px 0;
}
.basic h3 {
    margin: 40px 0 20px 0;
}
.more {
    text-align: center;
}
.basic .more a {
    background-color: #00466e;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
}
.basic .link {
    margin: 20px 0  128px 0;
}
.basic .link a {
    color: #00466e;
    border: 1px solid #00466e;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 100px;
}