/* 태그 브라우저가 주는 기본 스타일을 삭제 */
ul, li {
    list-style: none;    
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* width/height 늘리는 속성이 있는데 이를 적용 x
    - width와 height를 준 경우 그 값을 유지하는 값 */
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /* 브라우저 주는 글자크기 적용안함*/
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
address {
    font-style: normal;
}